body {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO SECTION */
.hero {
    background: linear-gradient(to right, #000000, #313131);
    padding: 100px 0;
}

.logo {
    width: 220px;
}

/* NAVBAR */
.navbar-brand {
    letter-spacing: 2px;
}

/* SECTION */
h2, h4 {
    font-weight: bold;
}

/* PRODUK */
/* NAVBAR KATEGORI */
.category-nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

/* LINK KATEGORI */
.category-nav .nav-link {
    font-weight: 600;
    color: #000;
    padding: 15px 20px;
}

/* CONTAINER DROPDOWN */
.dropdown-hover {
    position: relative;
}

/* MENU DROPDOWN */
.dropdown-menu-custom {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    min-width: 220px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    display: none;
    z-index: 1000;
}

/* ITEM DROPDOWN */
.dropdown-menu-custom li a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* HOVER ITEM */
.dropdown-menu-custom li a:hover {
    background-color: #f5f5f5;
}

/* TAMPILKAN DROPDOWN SAAT HOVER */
.dropdown-hover:hover .dropdown-menu-custom {
    display: block;
}

.category-nav .nav-link:hover {
    text-decoration: underline;
}

.category-content {
    display: none;
}

